In [103]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, date, time, timedelta
import numpy as np

## Cargar los datos

In [104]:
datos_electricos = pd.read_csv("data_proyecto.csv", encoding= "utf-8")
datos_electricos["energy(Wh)"] = datos_electricos["energy(Wh)"]/1000
datos_electricos["power(W)"] = datos_electricos["power(W)"]/1000
datos_electricos = datos_electricos.rename(columns = {"power(W)":"power(kW)","energy(Wh)":"energy(kWh)"})

datos_electricos.head()

,device_id,device_name,measurement_time(UTC),current(A),voltage(V),power(kW),power_factor,energy(kWh)
0,82608,Linea 2 Tablero Principal,1/1/2019 0:00,0.71,135.3,0.0931,0.97,0.0233
1,73170,L3 Transportador Botellas PDC III,1/1/2019 0:00,2.94,127.0,0.3551,0.95,0.0888
2,72819,Tablero C Alumbrado Linea Produccion,1/1/2019 0:00,6.34,127.0,0.7644,0.95,0.1911
3,72823,L4 Control de Inyectores,1/1/2019 0:00,30.97,127.0,3.7360,0.95,0.9340
4,82649,L4 Mezcladora Paramix,1/1/2019 0:00,4.79,127.0,0.5780,0.95,0.1445

In [105]:
datos_grupos = pd.read_excel("Device_Groups.xlsx")
datos_grupos.head()

,device_name,DG1,DG2,Usable
0,Alumbrado General L1 y Tratamiento Aguas,Potencia Industrial,Otros,0
1,Compresor 1 Aire 250 HP,Potencia Industrial,Compresores de aire,1
2,Compresor 2 Aire 200 HP,Potencia Industrial,Compresores de aire,1
3,Compresor de Aire 1 60 HP,Potencia Industrial,Compresores de aire,1
4,Compresor de Aire 2 60 HP,Potencia Industrial,Compresores de aire,1

In [106]:
datos_produccion = pd.read_excel("produccion_lineas.xlsx")
fecha_formato = [datetime.strptime(date,"%d/%m/%Y") for date in datos_produccion["Fecha"].values.tolist()]
datos_produccion["Fecha"] = fecha_formato
datos_produccion["Fecha"] = datos_produccion["Fecha"].dt.date
datos_produccion.head()

,Fecha,Prod. Linea 1(LTS),Prod. Linea 2(LTS),Prod. Linea 3(LTS),Prod. Linea 4(LTS)
0,2019-07-31,0,0.0,0,0
1,2019-07-30,0,0.0,0,0
2,2019-07-29,0,0.0,0,0
3,2019-07-28,0,0.0,0,0
4,2019-07-27,0,0.0,0,0

In [107]:
datos_electricos2 = datos_electricos.drop(columns=["device_id","current(A)","voltage(V)","power_factor","energy(kWh)"])
datos_electricos2.head()

                            device_name measurement_time(UTC)  power(kW)
0             Linea 2 Tablero Principal         1/1/2019 0:00     0.0931
1     L3 Transportador Botellas PDC III         1/1/2019 0:00     0.3551
2  Tablero C Alumbrado Linea Produccion         1/1/2019 0:00     0.7644
3              L4 Control de Inyectores         1/1/2019 0:00     3.7360
4                 L4 Mezcladora Paramix         1/1/2019 0:00     0.5780

In [108]:
datos_electricos3=pd.merge(left = datos_electricos2, right = datos_grupos, on="device_name", how = "left").drop(columns="DG1")
datos_electricos3.head()

,device_name,measurement_time(UTC),power(kW),DG2,Usable
0,Linea 2 Tablero Principal,1/1/2019 0:00,0.0931,Linea 2 Total,1.0
1,L3 Transportador Botellas PDC III,1/1/2019 0:00,0.3551,Linea 3,0.0
2,Tablero C Alumbrado Linea Produccion,1/1/2019 0:00,0.7644,Otros,0.0
3,L4 Control de Inyectores,1/1/2019 0:00,3.7360,Linea 4 Total,1.0
4,L4 Mezcladora Paramix,1/1/2019 0:00,0.5780,NaN,NaN

## MATRIZ

In [109]:
# Obtengo un primer DataFrame para los datos de la matriz
datos_matriz = datos_electricos3[(datos_electricos3["Usable"]==1 )].drop(columns= ["Usable","DG2"])
datos_matriz.head()

,device_name,measurement_time(UTC),power(kW)
0,Linea 2 Tablero Principal,1/1/2019 0:00,0.0931
3,L4 Control de Inyectores,1/1/2019 0:00,3.7360
15,L4 PDC II,1/1/2019 0:00,4.2513
16,Compresor de Amoniaco 2 Tornillo 250 HP VFD,1/1/2019 0:00,0.4013
17,Compresor de Aire 1 60 HP,1/1/2019 0:00,0.0072

In [110]:
#Cargo datos de umbrales de potencia y pivoteo los datos de la matriz
umbrales = pd.read_excel("Umbrales.xlsx")
datos_matriz = pd.pivot_table(datos_matriz,index="measurement_time(UTC)", columns = "device_name", values="power(kW)",fill_value=0)
datos_matriz.head()

device_name,Compresor 1 Aire 250 HP,Compresor 2 Aire 200 HP,Compresor de Aire 1 60 HP,Compresor de Aire 2 60 HP,Compresor de Aire 3 60 HP,Compresor de Amoniaco 1 Tornillo 250 HP,Compresor de Amoniaco 2 Tornillo 250 HP VFD,Compresor de Amoniaco 3 Tornillo 250 HP VFD,Compresor de Amoniaco 4 Tornillo 250 HP,Compresor de Amoniaco 5 Tornillo 250 HP,...,L4 Control de Inyectores,L4 PDC I,L4 PDC II,L4 PDC IV,Linea 1 Tablero Principal,Linea 2 Tablero Principal,Linea 3 Tablero PDC I,Linea 3 Tablero PDC II,Linea 3 Tablero PDC III,Linea 3 Tablero PDC IV
measurement_time(UTC),,,,,,,,,,,,,,,,,,,,,
1/1/2019 0:00,0.0000,0.1835,0.0072,0.0408,0.0,0.0,0.4013,0.3847,0.0,0.0,...,3.7360,2.9255,4.2513,2.3617,5.5157,0.0931,4.1830,3.0994,0.3642,0.5788
1/1/2019 0:15,0.0000,0.1802,0.0035,0.0408,0.0,0.0,0.3919,0.3796,0.0,0.0,...,3.7426,2.9638,4.2383,2.3564,5.5105,0.1650,4.1915,3.0235,0.3640,0.5817
1/1/2019 0:30,0.0000,0.1827,0.0000,0.0426,0.0,0.0,0.3974,0.3839,0.0,0.0,...,3.7270,2.9859,4.2402,2.3479,5.5107,0.0428,4.1783,3.0505,0.3634,0.5683
1/1/2019 0:45,0.0000,0.1810,0.0012,0.0421,0.0,0.0,0.3984,0.3803,0.0,0.0,...,3.7353,2.9888,4.2218,2.3510,5.4984,0.0580,4.1809,3.0663,0.3638,0.5699
1/1/2019 10:15,0.0025,107.9400,0.0296,0.0375,0.0,0.0,0.3856,0.3735,0.0,0.0,...,3.7129,4.8533,2.3989,2.4343,12.5873,1.4543,3.9350,3.3506,0.3629,0.7058

In [111]:
#Creo nueva columnas para los totales de las lineas
datos_matriz["Linea 1 Total"] = datos_matriz["Linea 1 Tablero Principal"] + datos_matriz["L1 Tablero de Controles Mezclador"]
datos_matriz["Linea 2 Total"] = datos_matriz["Linea 2 Tablero Principal"]
datos_matriz["Linea 3 Total"] = datos_matriz["Linea 3 Tablero PDC I"] +datos_matriz["Linea 3 Tablero PDC II"]+datos_matriz["Linea 3 Tablero PDC III"] + datos_matriz["Linea 3 Tablero PDC IV"]
datos_matriz["Linea 4 Total"] = datos_matriz["L4 PDC I"] + datos_matriz["L4 PDC II"] + datos_matriz["L4 PDC IV"]


#Elimino los equipos que conforman los totales de las lineas
datos_matriz = datos_matriz.drop(columns=["Linea 1 Tablero Principal", "L1 Tablero de Controles Mezclador", "Linea 2 Tablero Principal",
                                         "Linea 3 Tablero PDC I","Linea 3 Tablero PDC II","Linea 3 Tablero PDC III","Linea 3 Tablero PDC IV",
                                         "L4 PDC I","L4 PDC II","L4 PDC IV"])
#Obtengo la lista de columnas que ser'an las value_vars al hacer el melt
lista_columnas=datos_matriz.columns.tolist()

#Hago que measurement_time vuelva a ser columna y no indice
datos_matriz= datos_matriz.reset_index()
datos_matriz.head()

device_name,measurement_time(UTC),Compresor 1 Aire 250 HP,Compresor 2 Aire 200 HP,Compresor de Aire 1 60 HP,Compresor de Aire 2 60 HP,Compresor de Aire 3 60 HP,Compresor de Amoniaco 1 Tornillo 250 HP,Compresor de Amoniaco 2 Tornillo 250 HP VFD,Compresor de Amoniaco 3 Tornillo 250 HP VFD,Compresor de Amoniaco 4 Tornillo 250 HP,Compresor de Amoniaco 5 Tornillo 250 HP,Compresor de Amoniaco 6 Tornillo 250 HP VFD,Compresor de Amoniaco 7 Tornillo 250 HP,Compresor de Amoniaco Reciprocante 1 200 HP,Compresor de Amoniaco Reciprocante 2 200 HP,L4 Control de Inyectores,Linea 1 Total,Linea 2 Total,Linea 3 Total,Linea 4 Total
0,1/1/2019 0:00,0.0000,0.1835,0.0072,0.0408,0.0,0.0,0.4013,0.3847,0.0,0.0,0.0000,0.0,0.0,0.0,3.7360,14.7085,0.0931,8.2254,9.5385
1,1/1/2019 0:15,0.0000,0.1802,0.0035,0.0408,0.0,0.0,0.3919,0.3796,0.0,0.0,0.0000,0.0,0.0,0.0,3.7426,14.6277,0.1650,8.1607,9.5585
2,1/1/2019 0:30,0.0000,0.1827,0.0000,0.0426,0.0,0.0,0.3974,0.3839,0.0,0.0,0.0000,0.0,0.0,0.0,3.7270,14.5738,0.0428,8.1605,9.5740
3,1/1/2019 0:45,0.0000,0.1810,0.0012,0.0421,0.0,0.0,0.3984,0.3803,0.0,0.0,0.0001,0.0,0.0,0.0,3.7353,14.6034,0.0580,8.1809,9.5616
4,1/1/2019 10:15,0.0025,107.9400,0.0296,0.0375,0.0,0.0,0.3856,0.3735,0.0,0.0,0.0000,0.0,0.0,0.0,3.7129,21.6767,1.4543,8.3543,9.6865

In [112]:
#Hago unpivot a las columnas, dejando a measurement_time como id_var
datos_matriz=pd.melt(datos_matriz,id_vars="measurement_time(UTC)", value_vars = lista_columnas,
       var_name="device_name",value_name="power(kW)")

#Junto con el DataFrame de umbrales
datos_matriz = pd.merge(left=datos_matriz, right=umbrales, on="device_name", how="inner")
datos_matriz.head()

,measurement_time(UTC),device_name,power(kW),Umbral,Abreviacion
0,1/1/2019 0:00,Compresor 1 Aire 250 HP,0.0000,5,CAGD1
1,1/1/2019 0:15,Compresor 1 Aire 250 HP,0.0000,5,CAGD1
2,1/1/2019 0:30,Compresor 1 Aire 250 HP,0.0000,5,CAGD1
3,1/1/2019 0:45,Compresor 1 Aire 250 HP,0.0000,5,CAGD1
4,1/1/2019 10:15,Compresor 1 Aire 250 HP,0.0025,5,CAGD1

In [113]:
# Creo columna condicional que determina el estado del equipo
datos_matriz["Estado"] = np.where(datos_matriz["power(kW)"]>= datos_matriz["Umbral"], datos_matriz["Abreviacion"],"")

#Tiro columnas de umbrales y abreviaciones
datos_matriz = datos_matriz.drop(columns=["Umbral", "Abreviacion"])
datos_matriz.head()

  measurement_time(UTC)              device_name  power(kW) Estado
0         1/1/2019 0:00  Compresor 1 Aire 250 HP     0.0000
1         1/1/2019 0:15  Compresor 1 Aire 250 HP     0.0000
2         1/1/2019 0:30  Compresor 1 Aire 250 HP     0.0000
3         1/1/2019 0:45  Compresor 1 Aire 250 HP     0.0000
4        1/1/2019 10:15  Compresor 1 Aire 250 HP     0.0025

#### Matriz  de estados

In [114]:

#Creo nuevo DataFrame que solo guarde los datos de estado, pero no los de potencia
matriz_estados = datos_matriz.drop(columns="power(kW)")
matriz_estados = pd.pivot_table(matriz_estados, index="measurement_time(UTC)", columns ="device_name", values="Estado", aggfunc="sum")
matriz_estados.head()

device_name,Compresor 1 Aire 250 HP,Compresor 2 Aire 200 HP,Compresor de Aire 1 60 HP,Compresor de Aire 2 60 HP,Compresor de Aire 3 60 HP,Compresor de Amoniaco 1 Tornillo 250 HP,Compresor de Amoniaco 2 Tornillo 250 HP VFD,Compresor de Amoniaco 3 Tornillo 250 HP VFD,Compresor de Amoniaco 4 Tornillo 250 HP,Compresor de Amoniaco 5 Tornillo 250 HP,Compresor de Amoniaco 6 Tornillo 250 HP VFD,Compresor de Amoniaco 7 Tornillo 250 HP,Compresor de Amoniaco Reciprocante 1 200 HP,Compresor de Amoniaco Reciprocante 2 200 HP,Linea 1 Total,Linea 2 Total,Linea 3 Total,Linea 4 Total
measurement_time(UTC),,,,,,,,,,,,,,,,,,
1/1/2019 0:00,,,,,,,,,,,,,,,,,,
1/1/2019 0:15,,,,,,,,,,,,,,,,,,
1/1/2019 0:30,,,,,,,,,,,,,,,,,,
1/1/2019 0:45,,,,,,,,,,,,,,,,,,
1/1/2019 10:15,,CAGD2,,,,,,,,,,,,,,,,

In [115]:
#Genero columnas con las cargas de compresores y lineas
matriz_estados["CargaRefL1L3L4"] = (matriz_estados["Compresor de Amoniaco 1 Tornillo 250 HP"] + 
                                    matriz_estados["Compresor de Amoniaco 2 Tornillo 250 HP VFD"]+
                                    matriz_estados["Compresor de Amoniaco 3 Tornillo 250 HP VFD"]+
                                    matriz_estados["Compresor de Amoniaco 4 Tornillo 250 HP"]+
                                    matriz_estados["Compresor de Amoniaco 5 Tornillo 250 HP"]+
                                    matriz_estados["Compresor de Amoniaco Reciprocante 2 200 HP"]
                                   )
matriz_estados["CargaRefL2"] = (matriz_estados["Compresor de Amoniaco 6 Tornillo 250 HP VFD"]+
                                matriz_estados["Compresor de Amoniaco 7 Tornillo 250 HP"]+
                                matriz_estados["Compresor de Amoniaco Reciprocante 1 200 HP"]
                                )

matriz_estados["CargaCompresoresAire"]=(matriz_estados["Compresor 1 Aire 250 HP"]+
                                        matriz_estados["Compresor 2 Aire 200 HP"]+
                                        matriz_estados["Compresor de Aire 1 60 HP"]+
                                        matriz_estados["Compresor de Aire 2 60 HP"]+
                                        matriz_estados["Compresor de Aire 3 60 HP"]
                                       )

matriz_estados["CargaLineasL1L3L4"] = (matriz_estados["Linea 1 Total"]+
                                       matriz_estados["Linea 3 Total"]+
                                       matriz_estados["Linea 4 Total"]
                                      )

matriz_estados["CargaLineasL2"] = matriz_estados["Linea 2 Total"]

matriz_estados["CargaLineasL1L2L3L4"] = (matriz_estados["Linea 1 Total"]+
                                         matriz_estados["Linea 2 Total"]+
                                         matriz_estados["Linea 3 Total"]+
                                         matriz_estados["Linea 4 Total"]
                                      )
matriz_estados.tail()

device_name,Compresor 1 Aire 250 HP,Compresor 2 Aire 200 HP,Compresor de Aire 1 60 HP,Compresor de Aire 2 60 HP,Compresor de Aire 3 60 HP,Compresor de Amoniaco 1 Tornillo 250 HP,Compresor de Amoniaco 2 Tornillo 250 HP VFD,Compresor de Amoniaco 3 Tornillo 250 HP VFD,Compresor de Amoniaco 4 Tornillo 250 HP,Compresor de Amoniaco 5 Tornillo 250 HP,...,Linea 1 Total,Linea 2 Total,Linea 3 Total,Linea 4 Total,CargaRefL1L3L4,CargaRefL2,CargaCompresoresAire,CargaLineasL1L3L4,CargaLineasL2,CargaLineasL1L2L3L4
measurement_time(UTC),,,,,,,,,,,,,,,,,,,,,
9/7/2019 8:45,CAGD1,CAGD2,,,,CRT1,CRT2,,,,...,,L2,,L4,CRT1CRT2,CRT7,CAGD1CAGD2,L4,L2,L2L4
9/7/2019 9:00,CAGD1,CAGD2,,,,CRT1,CRT2,,,,...,L1,L2,,L4,CRT1CRT2,CRT7,CAGD1CAGD2,L1L4,L2,L1L2L4
9/7/2019 9:15,CAGD1,CAGD2,,,,CRT1,CRT2,,,,...,L1,L2,,L4,CRT1CRT2,CRT7,CAGD1CAGD2,L1L4,L2,L1L2L4
9/7/2019 9:30,CAGD1,CAGD2,,,,CRT1,CRT2,,,,...,,L2,,L4,CRT1CRT2,CRT7,CAGD1CAGD2,L4,L2,L2L4
9/7/2019 9:45,CAGD1,CAGD2,,,,CRT1,CRT2,,,,...,,L2,,L4,CRT1CRT2,CRT7,CAGD1CAGD2,L4,L2,L2L4

In [116]:
matriz_estados = matriz_estados.iloc[:,[-1,-2,-3,-4,-5,-6]].reset_index()
matriz_estados.tail()

device_name,measurement_time(UTC),CargaLineasL1L2L3L4,CargaLineasL2,CargaLineasL1L3L4,CargaCompresoresAire,CargaRefL2,CargaRefL1L3L4
12436,9/7/2019 8:45,L2L4,L2,L4,CAGD1CAGD2,CRT7,CRT1CRT2
12437,9/7/2019 9:00,L1L2L4,L2,L1L4,CAGD1CAGD2,CRT7,CRT1CRT2
12438,9/7/2019 9:15,L1L2L4,L2,L1L4,CAGD1CAGD2,CRT7,CRT1CRT2
12439,9/7/2019 9:30,L2L4,L2,L4,CAGD1CAGD2,CRT7,CRT1CRT2
12440,9/7/2019 9:45,L2L4,L2,L4,CAGD1CAGD2,CRT7,CRT1CRT2

#### Matriz de potencia

In [117]:
#Creo nuevo DataFrame que solo guarde los datos de potencia, pero no los de los estados
matriz_potencia = datos_matriz.drop(columns="Estado")

matriz_potencia = pd.pivot_table(matriz_potencia, index="measurement_time(UTC)", columns ="device_name", values="power(kW)", aggfunc="sum")
matriz_potencia.head()

device_name,Compresor 1 Aire 250 HP,Compresor 2 Aire 200 HP,Compresor de Aire 1 60 HP,Compresor de Aire 2 60 HP,Compresor de Aire 3 60 HP,Compresor de Amoniaco 1 Tornillo 250 HP,Compresor de Amoniaco 2 Tornillo 250 HP VFD,Compresor de Amoniaco 3 Tornillo 250 HP VFD,Compresor de Amoniaco 4 Tornillo 250 HP,Compresor de Amoniaco 5 Tornillo 250 HP,Compresor de Amoniaco 6 Tornillo 250 HP VFD,Compresor de Amoniaco 7 Tornillo 250 HP,Compresor de Amoniaco Reciprocante 1 200 HP,Compresor de Amoniaco Reciprocante 2 200 HP,Linea 1 Total,Linea 2 Total,Linea 3 Total,Linea 4 Total
measurement_time(UTC),,,,,,,,,,,,,,,,,,
1/1/2019 0:00,0.0000,0.1835,0.0072,0.0408,0.0,0.0,0.4013,0.3847,0.0,0.0,0.0000,0.0,0.0,0.0,14.7085,0.0931,8.2254,9.5385
1/1/2019 0:15,0.0000,0.1802,0.0035,0.0408,0.0,0.0,0.3919,0.3796,0.0,0.0,0.0000,0.0,0.0,0.0,14.6277,0.1650,8.1607,9.5585
1/1/2019 0:30,0.0000,0.1827,0.0000,0.0426,0.0,0.0,0.3974,0.3839,0.0,0.0,0.0000,0.0,0.0,0.0,14.5738,0.0428,8.1605,9.5740
1/1/2019 0:45,0.0000,0.1810,0.0012,0.0421,0.0,0.0,0.3984,0.3803,0.0,0.0,0.0001,0.0,0.0,0.0,14.6034,0.0580,8.1809,9.5616
1/1/2019 10:15,0.0025,107.9400,0.0296,0.0375,0.0,0.0,0.3856,0.3735,0.0,0.0,0.0000,0.0,0.0,0.0,21.6767,1.4543,8.3543,9.6865

In [118]:
#Creo nuevas columnas para los totales de los compresores
matriz_potencia["RefrigeracionL1L3L4"] =(matriz_potencia["Compresor de Amoniaco 1 Tornillo 250 HP"]+
                                      matriz_potencia["Compresor de Amoniaco 2 Tornillo 250 HP VFD"]+
                                      matriz_potencia["Compresor de Amoniaco 3 Tornillo 250 HP VFD"]+
                                      matriz_potencia["Compresor de Amoniaco 4 Tornillo 250 HP"]+
                                      matriz_potencia["Compresor de Amoniaco 5 Tornillo 250 HP"]+
                                      matriz_potencia["Compresor de Amoniaco Reciprocante 2 200 HP"]
                                      )
matriz_potencia["RefrigeracionL2"] = (matriz_potencia["Compresor de Amoniaco 6 Tornillo 250 HP VFD"]+
                                   matriz_potencia["Compresor de Amoniaco 7 Tornillo 250 HP"]+
                                   matriz_potencia["Compresor de Amoniaco Reciprocante 1 200 HP"]
                                  )
matriz_potencia["Compresores Aire"] = (matriz_potencia["Compresor 1 Aire 250 HP"]+
                                    matriz_potencia["Compresor 2 Aire 200 HP"]+
                                    matriz_potencia["Compresor de Aire 1 60 HP"]+
                                    matriz_potencia["Compresor de Aire 2 60 HP"]+
                                    matriz_potencia["Compresor de Aire 3 60 HP"]
                                   )

matriz_potencia.head()

device_name,Compresor 1 Aire 250 HP,Compresor 2 Aire 200 HP,Compresor de Aire 1 60 HP,Compresor de Aire 2 60 HP,Compresor de Aire 3 60 HP,Compresor de Amoniaco 1 Tornillo 250 HP,Compresor de Amoniaco 2 Tornillo 250 HP VFD,Compresor de Amoniaco 3 Tornillo 250 HP VFD,Compresor de Amoniaco 4 Tornillo 250 HP,Compresor de Amoniaco 5 Tornillo 250 HP,...,Compresor de Amoniaco 7 Tornillo 250 HP,Compresor de Amoniaco Reciprocante 1 200 HP,Compresor de Amoniaco Reciprocante 2 200 HP,Linea 1 Total,Linea 2 Total,Linea 3 Total,Linea 4 Total,RefrigeracionL1L3L4,RefrigeracionL2,Compresores Aire
measurement_time(UTC),,,,,,,,,,,,,,,,,,,,,
1/1/2019 0:00,0.0000,0.1835,0.0072,0.0408,0.0,0.0,0.4013,0.3847,0.0,0.0,...,0.0,0.0,0.0,14.7085,0.0931,8.2254,9.5385,0.7860,0.0000,0.2315
1/1/2019 0:15,0.0000,0.1802,0.0035,0.0408,0.0,0.0,0.3919,0.3796,0.0,0.0,...,0.0,0.0,0.0,14.6277,0.1650,8.1607,9.5585,0.7715,0.0000,0.2245
1/1/2019 0:30,0.0000,0.1827,0.0000,0.0426,0.0,0.0,0.3974,0.3839,0.0,0.0,...,0.0,0.0,0.0,14.5738,0.0428,8.1605,9.5740,0.7813,0.0000,0.2253
1/1/2019 0:45,0.0000,0.1810,0.0012,0.0421,0.0,0.0,0.3984,0.3803,0.0,0.0,...,0.0,0.0,0.0,14.6034,0.0580,8.1809,9.5616,0.7787,0.0001,0.2243
1/1/2019 10:15,0.0025,107.9400,0.0296,0.0375,0.0,0.0,0.3856,0.3735,0.0,0.0,...,0.0,0.0,0.0,21.6767,1.4543,8.3543,9.6865,0.7591,0.0000,108.0096

In [119]:
matriz_potencia = matriz_potencia.iloc[:,[-1,-2,-3,-4,-5,-6,-7]].reset_index()
matriz_potencia.head()

device_name,measurement_time(UTC),Compresores Aire,RefrigeracionL2,RefrigeracionL1L3L4,Linea 4 Total,Linea 3 Total,Linea 2 Total,Linea 1 Total
0,1/1/2019 0:00,0.2315,0.0000,0.7860,9.5385,8.2254,0.0931,14.7085
1,1/1/2019 0:15,0.2245,0.0000,0.7715,9.5585,8.1607,0.1650,14.6277
2,1/1/2019 0:30,0.2253,0.0000,0.7813,9.5740,8.1605,0.0428,14.5738
3,1/1/2019 0:45,0.2243,0.0001,0.7787,9.5616,8.1809,0.0580,14.6034
4,1/1/2019 10:15,108.0096,0.0000,0.7591,9.6865,8.3543,1.4543,21.6767

In [120]:
matriz_potencia = matriz_potencia.iloc[:,[0,1,2,3]]
matriz_potencia.head()

device_name,measurement_time(UTC),Compresores Aire,RefrigeracionL2,RefrigeracionL1L3L4
0,1/1/2019 0:00,0.2315,0.0000,0.7860
1,1/1/2019 0:15,0.2245,0.0000,0.7715
2,1/1/2019 0:30,0.2253,0.0000,0.7813
3,1/1/2019 0:45,0.2243,0.0001,0.7787
4,1/1/2019 10:15,108.0096,0.0000,0.7591

#### Combinar potencia con estados

In [132]:
compresores_aire = pd.merge(left=matriz_estados, right = matriz_potencia, on="measurement_time(UTC)")[["measurement_time(UTC)",
                                                                                    "CargaLineasL1L2L3L4",
                                                                                    "CargaCompresoresAire",
                                                                                    "Compresores Aire"]]

refrigreacionL1L3L4 =pd.merge(left=matriz_estados, right = matriz_potencia, on="measurement_time(UTC)")[["measurement_time(UTC)",
                                                                                    "CargaLineasL1L3L4",
                                                                                    "CargaRefL1L3L4",
                                                                                    "RefrigeracionL1L3L4"]]

refrigeracionL2= pd.merge(left=matriz_estados, right = matriz_potencia, on="measurement_time(UTC)")[["measurement_time(UTC)",
                                                                                    "CargaLineasL2",
                                                                                    "CargaRefL2",
                                                                                    "RefrigeracionL2"]]

### Refrigeracion L1L3L4

In [190]:
refrigeracionL1L3L4V2= refrigreacionL1L3L4.copy()
#df.groupby('Name')['Credit'].agg(['sum','average'])
refrigeracionL1L3L4V2["Contador"] = 0.25
refrigeracionL1L3L4V2 = refrigeracionL1L3L4V2.groupby(['CargaLineasL1L3L4','CargaRefL1L3L4'])[["RefrigeracionL1L3L4","Contador"]].agg(["mean","sum"]).iloc[:,[0,3]].reset_index()
refrigeracionL1L3L4V2= refrigeracionL1L3L4V2[(refrigeracionL1L3L4V2["CargaLineasL1L3L4"]!="") & (refrigeracionL1L3L4V2["CargaRefL1L3L4"]!="")]
promedio_refrigeracionL1L3L4 = refrigeracionL1L3L4V2["Contador"]["sum"].mean()
refrigeracionL1L3L4V2=refrigeracionL1L3L4V2[refrigeracionL1L3L4V2["Contador"]["sum"]>=promedio_refrigeracionL1L3L4].sort_values(by=("Contador","sum"),ascending=False)
refrigeracionL1L3L4V2.head()
#.to_excel("lol2" +".xlsx")

    CargaLineasL1L3L4 CargaRefL1L3L4 RefrigeracionL1L3L4 Contador
                                                    mean      sum
93             L1L3L4   CRT1CRT2CRT3          430.767062   217.75
110            L1L3L4   CRT1CRT3CRT5          451.438979   150.75
125            L1L3L4   CRT2CRT3CRT5          426.297527   144.75
172              L1L4       CRT2CRT3          268.068156   135.25
252              L3L4       CRT2CRT3          215.865297   125.00

### Refrigracion L2

In [197]:
refrigeracionL2V2= refrigeracionL2.copy()
#df.groupby('Name')['Credit'].agg(['sum','average'])
refrigeracionL2V2["Contador"] = 0.25
refrigeracionL2V2 = refrigeracionL2V2.groupby(['CargaLineasL2','CargaRefL2'])[["RefrigeracionL2","Contador"]].agg(["mean","sum"]).iloc[:,[0,3]].reset_index()
refrigeracionL2V2= refrigeracionL2V2[(refrigeracionL2V2["CargaLineasL2"]!="") & (refrigeracionL2V2["CargaRefL2"]!="")]
refrigeracionL2V2
#.to_excel("lol2" +".xlsx")

   CargaLineasL2    CargaRefL2 RefrigeracionL2 Contador
                                          mean      sum
9             L2          CRR1       34.437738    21.00
10            L2          CRT6      115.764160    98.75
11            L2      CRT6CRR1      188.200666  1273.25
12            L2      CRT6CRT7      204.050145    20.75
13            L2  CRT6CRT7CRR1      167.152489    38.50
14            L2          CRT7      148.683364   481.00
15            L2      CRT7CRR1      190.023100   504.25

### Compresores de aire

In [201]:
compresores_aireV2= compresores_aire.copy()
#df.groupby('Name')['Credit'].agg(['sum','average'])
compresores_aireV2["Contador"] = 0.25
compresores_aireV2 = compresores_aireV2.groupby(['CargaLineasL1L2L3L4','CargaCompresoresAire'])[["Compresores Aire","Contador"]].agg(["mean","sum"]).iloc[:,[0,3]].reset_index()
compresores_aireV2= compresores_aireV2[(compresores_aireV2["CargaLineasL1L2L3L4"]!="") & (compresores_aireV2["CargaCompresoresAire"]!="")]
promedio_compresores_aire = compresores_aireV2["Contador"]["sum"].mean()
compresores_aireV2=compresores_aireV2[compresores_aireV2["Contador"]["sum"]>=promedio_compresores_aire].sort_values(by=("Contador","sum"),ascending=False)
compresores_aireV2.head()
#.to_excel("lol2" +".xlsx")

    CargaLineasL1L2L3L4 CargaCompresoresAire Compresores Aire Contador
                                                         mean      sum
63             L1L2L3L4           CAGD1CAGD2       259.545371   331.50
189              L2L3L4           CAGD1CAGD2       248.577287   164.50
85               L1L2L4           CAGD1CAGD2       236.852433   149.00
74             L1L2L3L4      CAGD1CAIR1CAIR3       260.553548   116.50
64             L1L2L3L4      CAGD1CAGD2CAIR1       284.415175    97.75

### Obtener datos para regresiones

In [182]:
datos_electricos4 = datos_electricos.drop(columns=["device_id","current(A)","voltage(V)","power_factor","power(kW)"])
datos_electricos4 = pd.merge(left = datos_electricos4, right = datos_grupos, on="device_name", how = "left").drop(columns="DG1")
datos_electricos4 =datos_electricos4[datos_electricos4["Usable"]==1].drop(columns="Usable")
datos_electricos4.head()

,device_name,measurement_time(UTC),energy(kWh),DG2
0,Linea 2 Tablero Principal,1/1/2019 0:00,0.0233,Linea 2 Total
3,L4 Control de Inyectores,1/1/2019 0:00,0.9340,Linea 4 Total
15,L4 PDC II,1/1/2019 0:00,1.0628,Linea 4 Total
16,Compresor de Amoniaco 2 Tornillo 250 HP VFD,1/1/2019 0:00,0.1003,Refrigeración L1L3L4
17,Compresor de Aire 1 60 HP,1/1/2019 0:00,0.0018,Compresores de aire

In [183]:
fecha_formato = [datetime.strptime(date,"%d/%m/%Y %H:%M") for date in datos_electricos4["measurement_time(UTC)"].values.tolist()]
datos_electricos4["measurement_time(UTC)"] = fecha_formato

In [184]:
datos_electricos4 = datos_electricos4[datos_electricos4["measurement_time(UTC)"] < datetime(2019,7,1,0,0)]
datos_electricos4.head()

,device_name,measurement_time(UTC),energy(kWh),DG2
0,Linea 2 Tablero Principal,2019-01-01,0.0233,Linea 2 Total
3,L4 Control de Inyectores,2019-01-01,0.9340,Linea 4 Total
15,L4 PDC II,2019-01-01,1.0628,Linea 4 Total
16,Compresor de Amoniaco 2 Tornillo 250 HP VFD,2019-01-01,0.1003,Refrigeración L1L3L4
17,Compresor de Aire 1 60 HP,2019-01-01,0.0018,Compresores de aire

In [185]:
datos_electricos4["Fecha"] = datos_electricos4["measurement_time(UTC)"].dt.date
datos_electricos_regresion = pd.pivot_table(datos_electricos4.groupby(["Fecha","DG2"]).sum().reset_index(),
                                            index="Fecha", columns="DG2", values="energy(kWh)",
                                           aggfunc="sum").reset_index()
datos_electricos_regresion.head()

DG2,Fecha,Compresores de aire,Linea 1 Total,Linea 2 Total,Linea 3 Total,Linea 4 Total,Refrigeración L1L3L4,Refrigeración L2
0,2019-01-01,1214.4367,1281.9504,87.7999,167.8932,624.6109,1019.0041,28.3890
1,2019-01-02,4610.1620,4391.1099,883.5941,843.6383,3473.6623,5406.4273,453.9931
2,2019-01-03,4646.8085,3345.8780,1850.9111,2477.3533,2907.2174,5096.9409,2516.4700
3,2019-01-04,5128.9255,2959.1534,2102.0838,2815.7259,3600.7994,5433.8828,3000.9898
4,2019-01-05,4565.3341,3393.3607,465.6202,2394.8061,3003.6845,5007.7196,1241.6444

In [186]:
pd.merge(left=datos_electricos_regresion, right = datos_produccion, left_on="Fecha", right_on="Fecha")

,Fecha,Compresores de aire,Linea 1 Total,Linea 2 Total,Linea 3 Total,Linea 4 Total,Refrigeración L1L3L4,Refrigeración L2,Prod. Linea 1(LTS),Prod. Linea 2(LTS),Prod. Linea 3(LTS),Prod. Linea 4(LTS)
0,2019-01-01,1214.4367,1281.9504,87.7999,167.8932,624.6109,1019.0041,28.3890,640512,0.0,0,399168
1,2019-01-02,4610.1620,4391.1099,883.5941,843.6383,3473.6623,5406.4273,453.9931,820448,204508.8,326400,1150848
2,2019-01-03,4646.8085,3345.8780,1850.9111,2477.3533,2907.2174,5096.9409,2516.4700,1108224,690508.8,799360,1114560
3,2019-01-04,5128.9255,2959.1534,2102.0838,2815.7259,3600.7994,5433.8828,3000.9898,533504,685843.2,577920,995328
4,2019-01-05,4565.3341,3393.3607,465.6202,2394.8061,3003.6845,5007.7196,1241.6444,442880,65318.4,335360,644112
5,2019-01-06,1876.6186,1876.0512,139.1685,198.3137,806.4864,1566.0511,214.8206,916992,0.0,0,393984
6,2019-01-07,4522.6533,3670.3405,1466.0789,1679.4776,3308.1581,5239.1975,2222.4550,631680,713836.8,721920,1136592
7,2019-01-08,4450.8017,409.9689,1706.9276,2515.3073,3200.8524,2073.4567,2327.6632,0,392688.0,162560,1101600
8,2019-01-09,3180.9719,2282.0332,28.8108,1087.5534,3075.5556,1765.4225,599.6925,600192,0.0,0,946080
9,2019-01-10,3690.3769,3637.7239,528.7063,2183.8896,3014.3048,5386.3640,497.1724,949248,309484.8,898560,1140480
10,2019-01-11,4686.2916,2521.2865,2059.2425,2325.1365,3206.5315,4423.4452,2571.7366,362400,636076.8,533760,1183248
11,2019-01-12,4312.8718,3302.9915,1865.7876,2249.3304,2901.1771,5370.0759,2377.1517,963552,619747.2,453760,847584
12,2019-02-01,4427.6615,3814.9540,1704.9275,2427.9578,3090.3736,5435.9079,1647.9804,822528,468115.2,502400,1098360
13,2019-02-02,3029.0607,2068.5577,1189.3785,750.1847,2162.0813,2389.0652,1133.0309,698112,430790.4,127360,957744
14,2019-02-03,3718.8635,1736.0649,1778.3261,380.4151,2640.0894,2195.0914,1800.2246,159744,492998.4,0,1108080
15,2019-02-04,2315.6039,273.5872,473.4530,241.1849,1340.9720,453.7001,503.9018,0,264384.0,0,537840
16,2019-02-05,2150.7284,508.5369,1136.5873,842.8230,1550.1974,1098.6894,1355.7921,284400,667958.4,715520,1000512
17,2019-02-06,3664.1852,3410.3400,2071.5365,982.8855,2657.6798,3927.2479,2514.9262,983744,753494.4,0,1056240
18,2019-02-07,3170.4747,3214.8680,1319.5735,1594.8352,2222.5210,4865.9468,1593.0319,1023744,371692.8,855680,909144
19,2019-02-08,4745.5230,3209.3894,2218.0298,2223.2677,3172.1434,5359.6194,3121.2184,909440,695174.4,497280,1143072
20,2019-02-09,6425.9781,4606.9887,2606.7304,1854.2964,4361.0365,6332.2926,3479.2777,666112,393465.6,131200,1136592
21,2019-02-10,2643.0502,2400.1091,278.3989,333.9720,2384.6136,2871.1667,0.0002,694272,0.0,0,755568
22,2019-02-11,2534.7226,2173.5246,401.5329,650.9234,829.4320,1985.2494,661.0580,566400,423792.0,462080,203472
23,2019-02-12,4879.8760,637.9436,1435.8233,2740.9991,3057.2200,2855.5131,2410.8698,41600,618192.0,904320,1121688
24,2019-03-01,4730.9100,3472.5636,1541.6244,2629.0865,4383.9899,6836.7715,2569.2280,433920,155520.0,529280,1131408
25,2019-03-02,6117.1155,4591.4033,2580.9970,2422.3299,4351.7426,8653.4953,4082.5835,942816,618192.0,325760,1108728
26,2019-03-03,5152.1954,4659.5902,2683.9183,595.3956,3879.4720,6525.8307,3935.9927,805600,606528.0,0,981072
27,2019-03-04,5283.7981,4490.0725,3001.3239,961.2579,4138.3417,7139.1361,4595.0053,1092864,641520.0,286720,1146960
28,2019-03-05,6334.0391,3783.8966,2765.0755,3727.8979,3659.6016,8355.3491,4026.9702,550912,678844.8,917120,719280
29,2019-03-06,5629.6186,4957.1882,2706.7012,1442.9921,4086.6028,7472.4878,3615.7907,561280,630633.6,0,817776
...,...,...,...,...,...,...,...,...,...,...,...,...
97,2019-06-01,6249.4229,4919.2407,2796.3703,1956.5737,2538.5902,9761.2317,4353.3625,754240,697507.2,437120,984960
98,2019-06-02,5774.2665,4334.8380,3080.9863,477.7251,1930.9824,5263.4693,4601.8877,671088,739497.6,0,1069200
99,2019-06-03,5952.0150,5336.8883,2749.6020,2385.2260,2251.4153,9378.4720,4349.3300,1069824,646963.2,846720,965520
100,2019-06-04,5063.5400,2179.8251,3031.7480,2711.3880,2389.8991,7823.4000,4636.7700,228480,720057.6,917760,1119744
101,2019-06-05,5647.9770,4996.9921,2716.4370,2200.2240,1219.3368,6973.1050,3879.6110,797680,487555.2,655360,45360
102,2019-06-06,5333.4780,4461.8754,1461.6240,2053.5690,1992.0879,7827.8850,1903.2030,896256,328147.2,604800,1028376
103,2019-06-07,5398.3230,4987.8257,2503.0280,1563.9570,2320.4903,8234.3470,3467.1440,801792,510105.6,172800,1194912
104,2019-06-08,4967.0380,4546.7980,3056.0080,1994.9850,2304.2293,8460.9160,4548.3110,765696,680400.0,364800,1139832
105,2019-06-09,5112.7650,4583.1155,2581.9210,638.1850,1932.9309,5789.8600,3599.5590,844880,527990.4,0,968112
106,2019-06-10,4450.8250,4895.5292,2885.4340,1679.0860,1091.9173,5532.6220,3883.2090,726320,723168.0,828800,190512
107,2019-06-11,4725.0060,2499.4112,2346.9680,2324.0440,2047.4390,4552.6030,2936.3420,252160,524880.0,813440,992736
108,2019-06-12,3606.4740,2950.2075,2199.8120,1725.1480,1783.4941,5237.6980,2934.1310,741376,541987.2,679680,911088
109,2019-06-13,5859.3670,5427.2683,1386.1400,2314.3360,2336.9561,9139.5750,1945.5280,988704,109641.6,626560,1132704
110,2019-06-14,5403.7890,4798.8152,2327.1760,1289.0740,1922.0868,6242.5420,3466.4110,602632,465782.4,291200,849528
111,2019-06-15,5807.4650,4414.7326,2835.6560,2020.6960,2165.4276,7752.5760,4349.6870,643776,690508.8,455040,1049760
112,2019-06-16,5359.0980,4798.8875,2818.2090,623.2060,1887.7907,5698.9090,4386.2860,1072768,592531.2,0,771120
113,2019-06-17,5966.0780,5512.4760,2893.6440,1644.1150,1617.5998,8754.8110,5166.8320,1163520,716169.6,560640,515808
114,2019-06-18,6092.3220,3351.3722,2792.3930,2091.4590,2069.5728,7297.6770,4595.5920,489216,639964.8,721280,932472
115,2019-06-19,5217.2740,4595.3221,2658.5160,1323.3990,1186.1085,6719.5880,3960.5680,670544,559094.4,179840,343440
116,2019-06-20,5284.1680,4880.5210,1459.8710,2029.5490,2314.1966,7763.3680,2259.2540,694048,120528.0,807680,1110672
117,2019-06-21,5916.2380,5010.4244,2127.1360,1413.9060,2262.0832,8850.3480,2706.9140,1178112,363916.8,378240,1146960
118,2019-06-22,5869.0270,4886.5190,2798.1390,2377.3730,3386.8393,10341.6580,4669.5330,710528,619747.2,441600,956448
119,2019-06-23,5909.6170,4898.7576,3005.0720,485.5200,3606.6471,6905.1040,4501.0010,995552,626745.6,0,1118448
120,2019-06-24,5844.7860,5094.9967,2841.2620,2602.7400,3817.7513,8690.1380,4377.6190,832608,660182.4,696320,942192
121,2019-06-25,6010.6570,4244.9562,2901.4090,3150.7180,3538.9430,7794.2050,4217.1770,533376,625968.0,512640,651888
122,2019-06-26,6106.3920,4988.6277,2852.3230,2629.3470,3491.2546,8502.7540,3896.4710,1080480,558316.8,552320,884520
123,2019-06-27,6258.8660,5099.9628,1466.8480,3175.2650,4259.0493,9125.9340,1727.9730,807168,76204.8,520960,899424
124,2019-06-28,4440.9370,2766.6127,2049.4720,2362.4700,2289.6674,5118.3700,2554.2150,496608,506217.6,720640,743904
125,2019-06-29,6055.9290,4649.9711,2589.7840,2519.6560,2435.2674,8228.2450,3645.3600,808000,411350.4,618880,1148256
126,2019-06-30,5518.4570,4861.1627,2414.6800,941.4530,2177.8463,6010.7990,2865.1380,1005312,630633.6,150400,1144368

## Limpieza de datos