In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, date, time

## Cargar los datos

In [2]:
datos_electricos = pd.read_csv("data_proyecto.csv", encoding= "utf-8")
datos_electricos["energy(Wh)"] = datos_electricos["energy(Wh)"]/1000
datos_electricos["power(W)"] = datos_electricos["power(W)"]/1000
datos_electricos = datos_electricos.rename(columns = {"power(W)":"power(kW)","energy(Wh)":"energy(kWh)"})

datos_electricos.head()

,device_id,device_name,measurement_time(UTC),current(A),voltage(V),power(kW),power_factor,energy(kWh)
0,82608,Linea 2 Tablero Principal,1/1/2019 0:00,0.71,135.3,0.0931,0.97,0.0233
1,73170,L3 Transportador Botellas PDC III,1/1/2019 0:00,2.94,127.0,0.3551,0.95,0.0888
2,72819,Tablero C Alumbrado Linea Produccion,1/1/2019 0:00,6.34,127.0,0.7644,0.95,0.1911
3,72823,L4 Control de Inyectores,1/1/2019 0:00,30.97,127.0,3.7360,0.95,0.9340
4,82649,L4 Mezcladora Paramix,1/1/2019 0:00,4.79,127.0,0.5780,0.95,0.1445

In [3]:
datos_grupos = pd.read_excel("Device_Groups.xlsx")
datos_grupos.head()

,device_name,DG1,DG2,Usable
0,Alumbrado General L1 y Tratamiento Aguas,Potencia Industrial,Otros,0
1,Compresor 1 Aire 250 HP,Potencia Industrial,Compresores de aire,1
2,Compresor 2 Aire 200 HP,Potencia Industrial,Compresores de aire,1
3,Compresor de Aire 1 60 HP,Potencia Industrial,Compresores de aire,1
4,Compresor de Aire 2 60 HP,Potencia Industrial,Compresores de aire,1

In [4]:
datos_produccion = pd.read_excel("produccion_lineas.xlsx")
fecha_formato = [datetime.strptime(date,"%d/%m/%Y") for date in datos_produccion["Fecha"].values.tolist()]
datos_produccion["Fecha"] = fecha_formato
datos_produccion["Fecha"] = datos_produccion["Fecha"].dt.date
datos_produccion.head()

,Fecha,Prod. Linea 1(LTS),Prod. Linea 2(LTS),Prod. Linea 3(LTS),Prod. Linea 4(LTS)
0,2019-07-31,0,0.0,0,0
1,2019-07-30,0,0.0,0,0
2,2019-07-29,0,0.0,0,0
3,2019-07-28,0,0.0,0,0
4,2019-07-27,0,0.0,0,0

In [5]:
datos_electricos2 = datos_electricos.drop(columns=["device_id","current(A)","voltage(V)","power_factor","energy(kWh)"])
datos_electricos2.head()

                            device_name measurement_time(UTC)  power(kW)
0             Linea 2 Tablero Principal         1/1/2019 0:00     0.0931
1     L3 Transportador Botellas PDC III         1/1/2019 0:00     0.3551
2  Tablero C Alumbrado Linea Produccion         1/1/2019 0:00     0.7644
3              L4 Control de Inyectores         1/1/2019 0:00     3.7360
4                 L4 Mezcladora Paramix         1/1/2019 0:00     0.5780

In [6]:
datos_electricos3=pd.merge(left = datos_electricos2, right = datos_grupos, on="device_name", how = "left").drop(columns="DG1")
datos_electricos3.head()

,device_name,measurement_time(UTC),power(kW),DG2,Usable
0,Linea 2 Tablero Principal,1/1/2019 0:00,0.0931,Linea 2 Total,1.0
1,L3 Transportador Botellas PDC III,1/1/2019 0:00,0.3551,Linea 3,0.0
2,Tablero C Alumbrado Linea Produccion,1/1/2019 0:00,0.7644,Otros,0.0
3,L4 Control de Inyectores,1/1/2019 0:00,3.7360,Linea 4 Total,1.0
4,L4 Mezcladora Paramix,1/1/2019 0:00,0.5780,NaN,NaN

In [7]:
datos_electricos_matriz = datos_electricos3[(datos_electricos3["Usable"]==1 )].drop(columns= "Usable")
datos_electricos_matriz.head()

,device_name,measurement_time(UTC),power(kW),DG2
0,Linea 2 Tablero Principal,1/1/2019 0:00,0.0931,Linea 2 Total
3,L4 Control de Inyectores,1/1/2019 0:00,3.7360,Linea 4 Total
15,L4 PDC II,1/1/2019 0:00,4.2513,Linea 4 Total
16,Compresor de Amoniaco 2 Tornillo 250 HP VFD,1/1/2019 0:00,0.4013,Refrigeración L1L3L4
17,Compresor de Aire 1 60 HP,1/1/2019 0:00,0.0072,Compresores de aire

### Obtener datos para regresiones

In [8]:
datos_electricos4 = datos_electricos.drop(columns=["device_id","current(A)","voltage(V)","power_factor","power(kW)"])
datos_electricos4 = pd.merge(left = datos_electricos4, right = datos_grupos, on="device_name", how = "left").drop(columns="DG1")
datos_electricos4 =datos_electricos4[datos_electricos4["Usable"]==1].drop(columns="Usable")
datos_electricos4.head()

,device_name,measurement_time(UTC),energy(kWh),DG2
0,Linea 2 Tablero Principal,1/1/2019 0:00,0.0233,Linea 2 Total
3,L4 Control de Inyectores,1/1/2019 0:00,0.9340,Linea 4 Total
15,L4 PDC II,1/1/2019 0:00,1.0628,Linea 4 Total
16,Compresor de Amoniaco 2 Tornillo 250 HP VFD,1/1/2019 0:00,0.1003,Refrigeración L1L3L4
17,Compresor de Aire 1 60 HP,1/1/2019 0:00,0.0018,Compresores de aire

In [9]:
fecha_formato = [datetime.strptime(date,"%d/%m/%Y %H:%M") for date in datos_electricos4["measurement_time(UTC)"].values.tolist()]
datos_electricos4["measurement_time(UTC)"] = fecha_formato

In [10]:
datos_electricos4 = datos_electricos4[datos_electricos4["measurement_time(UTC)"] < datetime(2019,7,1,0,0)]
datos_electricos4.head()

,device_name,measurement_time(UTC),energy(kWh),DG2
0,Linea 2 Tablero Principal,2019-01-01,0.0233,Linea 2 Total
3,L4 Control de Inyectores,2019-01-01,0.9340,Linea 4 Total
15,L4 PDC II,2019-01-01,1.0628,Linea 4 Total
16,Compresor de Amoniaco 2 Tornillo 250 HP VFD,2019-01-01,0.1003,Refrigeración L1L3L4
17,Compresor de Aire 1 60 HP,2019-01-01,0.0018,Compresores de aire

In [11]:
datos_electricos4["Fecha"] = datos_electricos4["measurement_time(UTC)"].dt.date
datos_electricos_regresion = pd.pivot_table(datos_electricos4.groupby(["Fecha","DG2"]).sum().reset_index(),
                                            index="Fecha", columns="DG2", values="energy(kWh)",
                                           aggfunc="sum").reset_index()
datos_electricos_regresion.head()

DG2,Fecha,Compresores de aire,Linea 1 Total,Linea 2 Total,Linea 3 Total,Linea 4 Total,Refrigeración L1L3L4,Refrigeración L2
0,2019-01-01,1214.4367,1281.9504,87.7999,167.8932,624.6109,1019.0041,0.4663
1,2019-01-02,4610.1620,4391.1099,883.5941,843.6383,3473.6623,5220.9873,263.6025
2,2019-01-03,4646.8085,3345.8780,1850.9111,2477.3533,2907.2174,4117.7892,2500.2312
3,2019-01-04,5128.9255,2959.1534,2102.0838,2815.7259,3600.7994,4275.8102,2967.9332
4,2019-01-05,4565.3341,3393.3607,465.6202,2394.8061,3003.6845,4567.4457,1240.4406

In [12]:
pd.merge(left=datos_electricos_regresion, right = datos_produccion, left_on="Fecha", right_on="Fecha")

,Fecha,Compresores de aire,Linea 1 Total,Linea 2 Total,Linea 3 Total,Linea 4 Total,Refrigeración L1L3L4,Refrigeración L2,Prod. Linea 1(LTS),Prod. Linea 2(LTS),Prod. Linea 3(LTS),Prod. Linea 4(LTS)
0,2019-01-01,1214.4367,1281.9504,87.7999,167.8932,624.6109,1019.0041,0.4663,640512,0.0,0,399168
1,2019-01-02,4610.1620,4391.1099,883.5941,843.6383,3473.6623,5220.9873,263.6025,820448,204508.8,326400,1150848
2,2019-01-03,4646.8085,3345.8780,1850.9111,2477.3533,2907.2174,4117.7892,2500.2312,1108224,690508.8,799360,1114560
3,2019-01-04,5128.9255,2959.1534,2102.0838,2815.7259,3600.7994,4275.8102,2967.9332,533504,685843.2,577920,995328
4,2019-01-05,4565.3341,3393.3607,465.6202,2394.8061,3003.6845,4567.4457,1240.4406,442880,65318.4,335360,644112
5,2019-01-06,1876.6186,1876.0512,139.1685,198.3137,806.4864,1448.0335,0.0000,916992,0.0,0,393984
6,2019-01-07,4522.6533,3670.3405,1466.0789,1679.4776,3308.1581,4930.1967,1855.0366,631680,713836.8,721920,1136592
7,2019-01-08,4450.8017,409.9689,1706.9276,2515.3073,3200.8524,971.6763,1927.2886,0,392688.0,162560,1101600
8,2019-01-09,3180.9719,2282.0332,28.8108,1087.5534,3075.5556,1577.5164,0.0010,600192,0.0,0,946080
9,2019-01-10,3690.3769,3637.7239,528.7063,2183.8896,3014.3048,4672.4053,497.1724,949248,309484.8,898560,1140480
10,2019-01-11,4686.2916,2521.2865,2059.2425,2325.1365,3206.5315,3607.4900,2571.7366,362400,636076.8,533760,1183248
11,2019-01-12,4312.8718,3302.9915,1865.7876,2249.3304,2901.1771,4396.0889,2330.2968,963552,619747.2,453760,847584
12,2019-02-01,4427.6615,3814.9540,1704.9275,2427.9578,3090.3736,5435.9079,1628.3552,822528,468115.2,502400,1098360
13,2019-02-02,3029.0607,2068.5577,1189.3785,750.1847,2162.0813,2337.7630,1114.1617,698112,430790.4,127360,957744
14,2019-02-03,3718.8635,1736.0649,1778.3261,380.4151,2640.0894,2195.0914,1789.2766,159744,492998.4,0,1108080
15,2019-02-04,2315.6039,273.5872,473.4530,241.1849,1340.9720,203.2807,496.8217,0,264384.0,0,537840
16,2019-02-05,2150.7284,508.5369,1136.5873,842.8230,1550.1974,694.9795,1206.7477,284400,667958.4,715520,1000512
17,2019-02-06,3664.1852,3410.3400,2071.5365,982.8855,2657.6798,3720.9060,2375.0180,983744,753494.4,0,1056240
18,2019-02-07,3170.4747,3214.8680,1319.5735,1594.8352,2222.5210,4761.0253,1089.9017,1023744,371692.8,855680,909144
19,2019-02-08,4745.5230,3209.3894,2218.0298,2223.2677,3172.1434,5010.4885,1989.6985,909440,695174.4,497280,1143072
20,2019-02-09,6425.9781,4606.9887,2606.7304,1854.2964,4361.0365,6021.5509,2332.8550,666112,393465.6,131200,1136592
21,2019-02-10,2643.0502,2400.1091,278.3989,333.9720,2384.6136,2771.8013,0.0002,694272,0.0,0,755568
22,2019-02-11,2534.7226,2173.5246,401.5329,650.9234,829.4320,1445.8154,555.1426,566400,423792.0,462080,203472
23,2019-02-12,4879.8760,637.9436,1435.8233,2740.9991,3057.2200,1696.5168,2410.8698,41600,618192.0,904320,1121688
24,2019-03-01,4730.9100,3472.5636,1541.6244,2629.0865,4383.9899,6836.7715,1915.0445,433920,155520.0,529280,1131408
25,2019-03-02,6117.1155,4591.4033,2580.9970,2422.3299,4351.7426,8627.6354,2630.0991,942816,618192.0,325760,1108728
26,2019-03-03,5152.1954,4659.5902,2683.9183,595.3956,3879.4720,5883.8246,2618.6202,805600,606528.0,0,981072
27,2019-03-04,5283.7981,4490.0725,3001.3239,961.2579,4138.3417,6105.6702,3004.9750,1092864,641520.0,286720,1146960
28,2019-03-05,6334.0391,3783.8966,2765.0755,3727.8979,3659.6016,7899.8198,2705.1161,550912,678844.8,917120,719280
29,2019-03-06,5629.6186,4957.1882,2706.7012,1442.9921,4086.6028,6823.3263,2757.2817,561280,630633.6,0,817776
...,...,...,...,...,...,...,...,...,...,...,...,...
97,2019-06-01,6249.4229,4919.2407,2796.3703,1956.5737,2538.5902,8760.3848,2877.1234,754240,697507.2,437120,984960
98,2019-06-02,5774.2665,4334.8380,3080.9863,477.7251,1930.9824,4868.6072,3056.7980,671088,739497.6,0,1069200
99,2019-06-03,5952.0150,5336.8883,2749.6020,2385.2260,2251.4153,8568.2900,2922.0260,1069824,646963.2,846720,965520
100,2019-06-04,5063.5400,2179.8251,3031.7480,2711.3880,2389.8991,7518.8070,3187.5110,228480,720057.6,917760,1119744
101,2019-06-05,5647.9770,4996.9921,2716.4370,2200.2240,1219.3368,6319.2130,2508.4090,797680,487555.2,655360,45360
102,2019-06-06,5333.4780,4461.8754,1461.6240,2053.5690,1992.0879,6657.1820,1195.3030,896256,328147.2,604800,1028376
103,2019-06-07,5398.3230,4987.8257,2503.0280,1563.9570,2320.4903,6806.8070,2225.4460,801792,510105.6,172800,1194912
104,2019-06-08,4967.0380,4546.7980,3056.0080,1994.9850,2304.2293,7572.7640,2939.9860,765696,680400.0,364800,1139832
105,2019-06-09,5112.7650,4583.1155,2581.9210,638.1850,1932.9309,4281.3200,2359.9200,844880,527990.4,0,968112
106,2019-06-10,4450.8250,4895.5292,2885.4340,1679.0860,1091.9173,4254.5560,2450.2330,726320,723168.0,828800,190512
107,2019-06-11,4725.0060,2499.4112,2346.9680,2324.0440,2047.4390,3667.6350,2224.4650,252160,524880.0,813440,992736
108,2019-06-12,3606.4740,2950.2075,2199.8120,1725.1480,1783.4941,4683.9800,2248.0350,741376,541987.2,679680,911088
109,2019-06-13,5859.3670,5427.2683,1386.1400,2314.3360,2336.9561,9139.5750,1289.9180,988704,109641.6,626560,1132704
110,2019-06-14,5403.7890,4798.8152,2327.1760,1289.0740,1922.0868,5443.6980,2401.7470,602632,465782.4,291200,849528
111,2019-06-15,5807.4650,4414.7326,2835.6560,2020.6960,2165.4276,7752.5760,3200.7810,643776,690508.8,455040,1049760
112,2019-06-16,5359.0980,4798.8875,2818.2090,623.2060,1887.7907,4998.3910,3109.2490,1072768,592531.2,0,771120
113,2019-06-17,5966.0780,5512.4760,2893.6440,1644.1150,1617.5998,7024.1760,3505.4910,1163520,716169.6,560640,515808
114,2019-06-18,6092.3220,3351.3722,2792.3930,2091.4590,2069.5728,6330.4830,3048.3870,489216,639964.8,721280,932472
115,2019-06-19,5217.2740,4595.3221,2658.5160,1323.3990,1186.1085,5743.2900,2599.0390,670544,559094.4,179840,343440
116,2019-06-20,5284.1680,4880.5210,1459.8710,2029.5490,2314.1966,7730.3440,1642.1970,694048,120528.0,807680,1110672
117,2019-06-21,5916.2380,5010.4244,2127.1360,1413.9060,2262.0832,8025.0170,2358.4810,1178112,363916.8,378240,1146960
118,2019-06-22,5869.0270,4886.5190,2798.1390,2377.3730,3386.8393,9925.0310,3009.7760,710528,619747.2,441600,956448
119,2019-06-23,5909.6170,4898.7576,3005.0720,485.5200,3606.6471,5883.5900,2981.6540,995552,626745.6,0,1118448
120,2019-06-24,5844.7860,5094.9967,2841.2620,2602.7400,3817.7513,7815.7200,2815.3070,832608,660182.4,696320,942192
121,2019-06-25,6010.6570,4244.9562,2901.4090,3150.7180,3538.9430,6969.8730,2768.3600,533376,625968.0,512640,651888
122,2019-06-26,6106.3920,4988.6277,2852.3230,2629.3470,3491.2546,8156.3420,2509.0210,1080480,558316.8,552320,884520
123,2019-06-27,6258.8660,5099.9628,1466.8480,3175.2650,4259.0493,8920.7640,1295.0700,807168,76204.8,520960,899424
124,2019-06-28,4440.9370,2766.6127,2049.4720,2362.4700,2289.6674,5007.5340,1720.9560,496608,506217.6,720640,743904
125,2019-06-29,6055.9290,4649.9711,2589.7840,2519.6560,2435.2674,7604.8920,2893.6420,808000,411350.4,618880,1148256
126,2019-06-30,5518.4570,4861.1627,2414.6800,941.4530,2177.8463,5661.4760,1897.6320,1005312,630633.6,150400,1144368

## Limpieza de datos